{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <div class="title is-3">Sign up</div>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        <br>
        <b>{{ field.label_tag }}</b>
        <br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign Up</button>
  </form>
{% endblock %}